[submodule "submodules/Starling-FFParticleSystem"]
	path = submodules/Starling-FFParticleSystem
	url = https://github.com/shin10/Starling-FFParticleSystem.git
[submodule "submodules/Feathers"]
	path = submodules/Feathers
	url = https://github.com/joshtynjala/feathers.git
[submodule "submodules/Starling-Framework"]
	path = submodules/Starling-Framework
	url = https://github.com/Gamua/Starling-Framework.git
[submodule "submodules/Rokannon-AS3-Lib"]
	path = submodules/Rokannon-AS3-Lib
	url = https://github.com/Rokannon/Rokannon-AS3-Lib.git
[submodule "submodules/TextureUtils"]
	path = submodules/TextureUtils
	url = https://github.com/treefortress/TextureUtils.git
